---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrders/$$$_BTC/50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 12-87240163-87240307 NNNN CT(171 171 0) RT(1513710141769 1058) q(0 0 3 -1)
        r(8 8) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"Buy":[{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000012,"Volume":77525.16425840,"Total":0.00930302},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000011,"Volume":261163.21901651,"Total":0.02872795},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000010,"Volume":422277.38559229,"Total":0.04222774},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000009,"Volume":203756.16302476,"Total":0.01833805},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000008,"Volume":113330.25199601,"Total":0.00906642},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000007,"Volume":260403.47875677,"Total":0.01822824},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000006,"Volume":331586.17952636,"Total":0.01989517},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000005,"Volume":765729.78452838,"Total":0.03828649},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000004,"Volume":1045752.24950100,"Total":0.04183009},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000003,"Volume":1032999.34065202,"Total":0.03098998},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000002,"Volume":1584971.22558815,"Total":0.03169942},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000001,"Volume":12850195.01197605,"Total":0.12850195}],"Sell":[{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000013,"Volume":1070.31835742,"Total":0.00013914},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000019,"Volume":204930.00503164,"Total":0.03893670},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000020,"Volume":428646.45297274,"Total":0.08572929},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000021,"Volume":61630.77453152,"Total":0.01294246},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000022,"Volume":94628.89221557,"Total":0.020[...]
