---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 11-71360730-71360857 NNNN CT(191 195 0) RT(1513710076452 1137) q(0 0 4 6)
        r(6 8) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000012,"Low":0.00000012,"High":0.00000019,"Volume":838902.11273494,"LastPrice":0.00000013,"BuyVolume":18911723.63061377,"SellVolume":18268187.63048001,"Change":-7.14,"Open":0.00000014,"Close":0.00000013,"BaseVolume":0.12789705,"BuyBaseVolume":0.41448521,"SellBaseVolume":28944872.77861143},{"TradePairId":1263,"Label":"$$$/DOGE","AskPrice":0.49758542,"BidPrice":0.29289907,"Low":0.29000002,"High":0.41974753,"Volume":19895.87696816,"LastPrice":0.41974753,"BuyVolume":408773660206.19421154,"SellVolume":770151.74844983,"Change":0.0,"Open":0.41974753,"Close":0.41974753,"BaseVolume":8282.48223895,"BuyBaseVolume":83676.35889712,"SellBaseVolume":1671067070.80525155},{"TradePairId":1262,"Label":"$$$/LTC","AskPrice":0.00000750,"BidPrice":0.00000600,"Low":0.00000500,"High":0[...]
