---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 14-137049560-137049814 NNNN CT(168 348 0) RT(1513710083336 1378) q(0 0 5 0)
        r(7 7) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000012,"Low":0.00000012,"High":0.00000019,"Volume":838902.11273494,"LastPrice":0.00000013,"BuyVolume":19122126.96679854,"SellVolume":18268187.63048001,"Change":-7.14,"Open":0.00000014,"Close":0.00000013,"BaseVolume":0.12789705,"BuyBaseVolume":0.42921344,"SellBaseVolume":28944872.77861143},{"TradePairId":5181,"Label":"1337/BTC","AskPrice":0.00000001,"BidPrice":0.0,"Low":0.00000001,"High":0.00000001,"Volume":0.0,"LastPrice":0.00000001,"BuyVolume":0.0,"SellVolume":903305250.19421505,"Change":0.0,"Open":0.00000001,"Close":0.00000001,"BaseVolume":0.0,"BuyBaseVolume":0.0,"SellBaseVolume":312732498.32892726},{"TradePairId":5313,"Label":"21M/BTC","AskPrice":0.00001450,"BidPrice":0.00000731,"Low":0.00001600,"High":0.00001600,"Volume":0.0,"LastPrice":0.00001600,"BuyVolum[...]
