---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 14-137050404-137049814 PNNN RT(1513710087878 1415) q(0 0 0 1) r(307 307) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000012,"Low":0.00000013,"High":0.00000019,"Volume":722737.64407227,"LastPrice":0.00000013,"BuyVolume":19112381.23884413,"SellVolume":18268187.63048001,"Change":-7.14,"Open":0.00000014,"Close":0.00000013,"BaseVolume":0.11297315,"BuyBaseVolume":0.42804395,"SellBaseVolume":28944872.77861143},{"TradePairId":1263,"Label":"$$$/DOGE","AskPrice":0.49758542,"BidPrice":0.29289907,"Low":0.29203627,"High":0.41974753,"Volume":14610.13557390,"LastPrice":0.41974753,"BuyVolume":408773660206.19421154,"SellVolume":770151.74844983,"Change":0.00,"Open":0.41974690,"Close":0.41974753,"BaseVolume":6095.46929374,"BuyBaseVolume":83676.35889712,"SellBaseVolume":1671067070.80525155},{"TradePairId":1262,"Label":"$$$/LTC","AskPrice":0.00000750,"BidPrice":0.00000600,"Low":0.00000500,"High":[...]
