---
http_interactions:
- request:
    method: post
    uri: https://www.cryptopia.co.nz/Api/GetTradeHistory
    body:
      encoding: UTF-8
      string: '{"Market":"DOT/BTC"}'
    headers:
      Authorization:
      - amx <API_KEY>:0whAym2tWGMRX3zZcXCkpUBUHPtqp9I2OziqSTQQXfk=:1514213003
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 7-106378752-106378859 NNNN CT(0 0 0) RT(1514213005671 1144) q(0 0 0 0) r(2
        2) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Error":null,"Data":[]}'
  recorded_at: Mon, 25 Dec 2017 14:43:27 GMT
recorded_with: VCR 4.0.0
