---
http_interactions:
- request:
    method: post
    uri: https://www.cryptopia.co.nz/Api/GetTransactions
    body:
      encoding: UTF-8
      string: '{"Type":"Deposit"}'
    headers:
      Authorization:
      - amx <API_KEY>:J9mwZdraHWNM3PxeNwzwiM5i7zetLzfEPdWHxJJO/Bs=:1514231807
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 13-185094117-185094225 NNNN CT(178 181 0) RT(1514231808162 653) q(0 0 3 0)
        r(6 6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Error":null,"Data":[{"Id":7844778,"Currency":"BCH","TxId":"0000000000000000011865af4122fe3b144e2cbeea86142e8ff2fb4107352d43","Type":"Deposit","Amount":0.00045035,"Fee":0.0,"Status":"Confirmed","Confirmations":6,"Timestamp":"2017-08-01T16:19:24","Address":null},{"Id":5829966,"Currency":"IMS","TxId":"1f9e8b91966e853ea8cf847178a20cef4927973f9c04c412c430cbbdbea6d816","Type":"Deposit","Amount":7.17667000,"Fee":0.0,"Status":"Confirmed","Confirmations":20,"Timestamp":"2017-06-03T19:42:10","Address":null},{"Id":5825955,"Currency":"XRA","TxId":"2f18b814f15666ac8d01b24ffcb206b8b1c10bab402f69021b2122d470e7edd2","Type":"Deposit","Amount":7.27567000,"Fee":0.0,"Status":"Confirmed","Confirmations":20,"Timestamp":"2017-06-03T16:02:29","Address":null},{"Id":5825[...]
