---
http_interactions:
- request:
    method: post
    uri: https://www.cryptopia.co.nz/Api/SubmitTrade
    body:
      encoding: UTF-8
      string: '{"Market":"DOT/BTC","Type":"Buy","Rate":3.4e-07,"Amount":123.0}'
    headers:
      Authorization:
      - amx <API_KEY>:16ItVbrulIFAh70GRVum0VNnYSpx3R9WVEb17zeqgV0=:1514563901
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 9-93652292-93652335 NNNN CT(179 380 0) RT(1514563901913 616) q(0 0 5 1) r(8
        8) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true, "Error":null, "Data": { "OrderId": 23467, "FilledOrders": [44310,44311] }}'
  recorded_at: Fri, 29 Dec 2017 16:11:43 GMT
recorded_with: VCR 4.0.0
