---
http_interactions:
- request:
    method: post
    uri: https://www.cryptopia.co.nz/Api/GetOpenOrders
    body:
      encoding: UTF-8
      string: '{"Market":"DOT/BTC"}'
    headers:
      Authorization:
      - amx <API_KEY>:7dE7MKSBJfH/jKd+eAwAj9X8L2sS2+y0CZBOOecQIag=:1514083574
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-169125082-169122716 PNNN RT(1514083577041 276) q(0 0 0 -1) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Error":null,"Data":[]}'
  recorded_at: Sun, 24 Dec 2017 02:46:18 GMT
recorded_with: VCR 4.0.0
