---
http_interactions:
- request:
    method: post
    uri: https://www.cryptopia.co.nz/Api/GetBalance
    body:
      encoding: UTF-8
      string: '{"Currency":"BTC"}'
    headers:
      Authorization:
      - amx <API_KEY>:l6uz7ooSbvZ03X3zKYMjg4fFKi9V3G739XYTAVTd3cQ=:1514081238
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 7-77520276-77520296 NNNN CT(0 0 0) RT(1514081240968 262) q(0 0 0 -1) r(1 1)
        U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Error":null,"Data":[{"CurrencyId":1,"Symbol":"BTC","Total":0.00069673,"Available":0.00069673,"Unconfirmed":0.00000000,"HeldForTrades":0.00000000,"PendingWithdraw":0.00000000,"Address":null,"Status":"OK","StatusMessage":null,"BaseAddress":null}]}'
  recorded_at: Sun, 24 Dec 2017 02:07:21 GMT
recorded_with: VCR 4.0.0
