---
http_interactions:
- request:
    method: post
    uri: https://www.cryptopia.co.nz/Api/CancelTrade
    body:
      encoding: UTF-8
      string: '{"Type":"Trade","OrderId":23467}'
    headers:
      Authorization:
      - amx <API_KEY>:MCYYlMCpJJ7yOHLQdaX8oE/msoUTf103BSnKKU/mg9Y=:1514569603
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 5-155460168-155460183 NNNN CT(0 0 0) RT(1514569604478 159) q(0 0 0 0) r(352
        352) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Error":null,"Data":[44310, 44311]}'
  recorded_at: Fri, 29 Dec 2017 17:47:18 GMT
recorded_with: VCR 4.0.0
