---
http_interactions:
- request:
    method: post
    uri: https://www.cryptopia.co.nz/Api/GetDepositAddress
    body:
      encoding: UTF-8
      string: '{"Currency":"DOT"}'
    headers:
      Authorization:
      - amx <API_KEY>:HX3mFdhxKcfllKhfSYp1QWweeFllW8yd9bFQOXe8lCA=:1514082685
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 2-23883912-23883918 NNNN CT(127 124 0) RT(1514082685020 261) q(0 0 3 -1) r(65
        65) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"Success":true,"Error":null,"Data":{"Currency":"DOT","Address":"0x2b9db4ed225d927109c2b053e70c87506f661ead","BaseAddress":null}}'
  recorded_at: Sun, 24 Dec 2017 02:31:32 GMT
recorded_with: VCR 4.0.0
