---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/$$$_BTC/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-85919013-85919068 NNNN CT(75 78 0) RT(1513530045062 291) q(0 0 2 0) r(3
        3) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000010,"Low":0.00000010,"High":0.00000012,"Volume":252204.67866228,"LastPrice":0.00000012,"BuyVolume":18145144.95926620,"SellVolume":19151991.08015154,"Change":20.0,"Open":0.00000010,"Close":0.00000012,"BaseVolume":0.02931281,"BuyBaseVolume":0.34091631,"SellBaseVolume":28951333.17016860},"Error":null}'
  recorded_at: Sun, 17 Dec 2017 17:00:46 GMT
recorded_with: VCR 4.0.0
