---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetCurrencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 9-71799067-71799099 NNNN CT(75 76 0) RT(1513530037490 285) q(0 0 2 1) r(3
        3) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"Id":331,"Name":"1337","Symbol":"1337","Algorithm":"POS","WithdrawFee":0.01000000,"MinWithdraw":20000.00000000,"MaxWithdraw":2000000000.00000000,"MinBaseTrade":0.00002000,"IsTipEnabled":false,"MinTip":166.66666666,"DepositConfirmations":20,"Status":"OK","StatusMessage":null,"ListingStatus":"Active"},{"Id":573,"Name":"21Million","Symbol":"21M","Algorithm":"None","WithdrawFee":9.00000000,"MinWithdraw":18.00000000,"MaxWithdraw":20000000.00000000,"MinBaseTrade":0.00002000,"IsTipEnabled":false,"MinTip":1.00000000,"DepositConfirmations":20,"Status":"OK","StatusMessage":null,"ListingStatus":"Active"},{"Id":562,"Name":"300
        Token","Symbol":"300","Algorithm":"None","WithdrawFee":0.00600000,"MinWithdraw":0.01200000,"MaxWithdraw":20000000.00000000,"MinBaseTrade":0.00002000,"IsTipEnabl[...]
