---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrders/DOT_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 14-121560293-121560332 NNNN CT(177 180 0) RT(1513686771588 270) q(0 0 4 1)
        r(10 12) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"Buy":[{"TradePairId":100,"Label":"DOT/BTC","Price":0.00000093,"Volume":149967.08018592,"Total":0.13946938},{"TradePairId":100,"Label":"DOT/BTC","Price":0.00000092,"Volume":550585.35240085,"Total":0.50653852},{"TradePairId":100,"Label":"DOT/BTC","Price":0.00000091,"Volume":543834.26517914,"Total":0.49488918},{"TradePairId":100,"Label":"DOT/BTC","Price":0.00000090,"Volume":427368.13721594,"Total":0.38463132},{"TradePairId":100,"Label":"DOT/BTC","Price":0.00000089,"Volume":1804498.10325770,"Total":1.60600331},{"TradePairId":100,"Label":"DOT/BTC","Price":0.00000088,"Volume":1766760.63128204,"[...]
