---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrders/$$$_BTC/50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 6-26070866-26070876 NNNN CT(183 193 0) RT(1513686773501 181) q(0 0 4 2) r(7
        7) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"Buy":[{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000013,"Volume":1855.97995779,"Total":0.00024128},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000012,"Volume":77525.16425840,"Total":0.00930302},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000011,"Volume":174545.54527309,"Total":0.01920001},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000010,"Volume":115596.38559229,"Total":0.01155964},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000009,"Volume":198100.80707000,"Total":0.01782907},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000008,"Volume":238791.82884232,"Total":0.01910335},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000007,"Volume":50000.14257200,"Total":0.00350001},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000006,"Volume":331586.17952636,"Total":0.01989517},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000005,"Volume":765729.78452838,"Total":0.03828649},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000004,"Volume":1045752.24950100,"Total":0.04183009},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000003,"Volume":1032999.34065202,"Total":0.03098998},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000002,"Volume":1584971.22558815,"Total":0.03169942},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000001,"Volume":12850195.01197605,"Total":0.12850195}],"Sell":[{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000016,"Volume":15590.27394649,"Total":0.00249444},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000017,"Volume":50000.00000000,"Total":0.00850000},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000018,"Volume":100692.34065802,"Total":0.01812462},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000019,"Volume":223378.89672194,"Total":0.04244199},{"TradePairId":1261,"Label":"$$$/BTC","Price":0.00000020,"Volume":423983.45297274,"Total":0.0[...]
