---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 8-53673450-53673475 NNNN CT(75 174 0) RT(1513530041362 288) q(0 0 3 1) r(3
        3) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000010,"Low":0.00000009,"High":0.00000012,"Volume":425684.52872923,"LastPrice":0.00000012,"BuyVolume":18145144.95926620,"SellVolume":19151991.08015154,"Change":9.09,"Open":0.00000011,"Close":0.00000012,"BaseVolume":0.04627828,"BuyBaseVolume":0.34091631,"SellBaseVolume":28951333.17016860},{"TradePairId":5181,"Label":"1337/BTC","AskPrice":0.00000001,"BidPrice":0.0,"Low":0.00000001,"High":0.00000001,"Volume":0.0,"LastPrice":0.00000001,"BuyVolume":0.0,"SellVolume":976419199.55657983,"Change":0.0,"Open":0.00000001,"Close":0.00000001,"BaseVolume":0.0,"BuyBaseVolume":0.0,"SellBaseVolume":312732549.80486278},{"TradePairId":5313,"Label":"21M/BTC","AskPrice":0.00001500,"BidPrice":0.00001290,"Low":0.00001660,"High":0.00001660,"Volume":0.0,"LastPrice":0.00001660,"BuyVolum[...]
