---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketHistory/$$$_BTC/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 12-81319639-81319892 NNNN CT(171 168 0) RT(1513685743674 1053) q(0 0 3 0)
        r(5 5) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","Type":"Sell","Price":0.00000013,"Amount":1990.25065790,"Total":0.00025873,"Timestamp":1513680586},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Sell","Price":0.00000013,"Amount":6666.00000000,"Total":0.00086658,"Timestamp":1513680586},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Buy","Price":0.00000016,"Amount":7265.18006872,"Total":0.00116243,"Timestamp":1513671720},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Buy","Price":0.00000016,"Amount":25000.00000000,"Total":0.00400000,"Timestamp":1513671720},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Buy","Price":0.00000016,"Amount"[...]
