---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrderGroups/$$$_BTC-DOGE_BTC/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 5-57853341-57853468 NNNN CT(211 193 0) RT(1513699627432 741) q(0 0 4 0) r(10
        10) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Market":"$$$_BTC","Buy":[{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000014,"Volume":4160.90627423,"Total":0.00058253},{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000013,"Volume":9855.97995779,"Total":0.00128128}],"Sell":[{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000019,"Volume":217310.13840932,"Total":0.04128893},{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000020,"Volume":423983.45297274,"Total":0.08479669}]},{"TradePairId":102,"Market":"DOGE_BTC","Buy":[{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000032,"Volume":5739386.07652615,"Total":1.83660354},{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000031,"Volume":9686915.63517929,"Total":3.00294385}],"Sell":[{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000033,"Volume":5913626.91096027,"Total":1.95149688},{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000034,"Volume":1475247.10298184,"Total":0.50158402}]}],"Error":null}'
  recorded_at: Tue, 19 Dec 2017 16:07:09 GMT
recorded_with: VCR 4.0.0
