---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrderGroups/DOT_BTC-101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 13-101167696-101167775 NNNN CT(171 172 0) RT(1513688041361 260) q(0 0 3 0)
        r(5 7) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":100,"Market":"DOT_BTC","Buy":[{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000093,"Volume":145515.08018592,"Total":0.13532902},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000092,"Volume":550585.35240085,"Total":0.50653852},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000091,"Volume":543834.26517914,"Total":0.49488918},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000090,"Volume":427368.13721594,"Total":0.38463132},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000089,"Volume":1804498.10325770,"Total":1.60600331},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000088,"Volume":1766760.63128204,"[...]
