---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/DOT_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 13-83862511-83862665 NNNN CT(214 458 0) RT(1513538720340 1246) q(0 0 7 0)
        r(9 9) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"TradePairId":100,"Label":"DOT/BTC","AskPrice":0.00000094,"BidPrice":0.00000093,"Low":0.00000092,"High":0.00000099,"Volume":5739210.40431432,"LastPrice":0.00000093,"BuyVolume":40358630.43287330,"SellVolume":73114894.29888122,"Change":-4.12,"Open":0.00000097,"Close":0.00000093,"BaseVolume":5.37979199,"BuyBaseVolume":15.31336114,"SellBaseVolume":511304236.06269587},"Error":null}'
  recorded_at: Sun, 17 Dec 2017 19:25:21 GMT
recorded_with: VCR 4.0.0
