---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketHistory/DOT_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 7-35954984-35955119 NNNN CT(192 192 0) RT(1513685894623 1236) q(0 0 4 1) r(8
        10) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":37235.53955918,"Total":0.03500141,"Timestamp":1513685756},{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":637.04505882,"Total":0.00059882,"Timestamp":1513684877},{"TradePairId":100,"Label":"DOT/BTC","Type":"Sell","Price":0.00000093,"Amount":2257.88504898,"Total":0.00209983,"Timestamp":1513684833},{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":6075.09449187,"Total":0.00571059,"Timestamp":1513682360},{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":705.3[...]
