---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-85918256-85918300 NNNN CT(0 0 0) RT(1513530039863 288) q(0 0 0 1) r(1 1)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000010,"Low":0.00000009,"High":0.00000012,"Volume":425684.52872923,"LastPrice":0.00000012,"BuyVolume":18145144.95926620,"SellVolume":19151991.08015154,"Change":9.09,"Open":0.00000011,"Close":0.00000012,"BaseVolume":0.04627828,"BuyBaseVolume":0.34091631,"SellBaseVolume":28951333.17016860},{"TradePairId":1263,"Label":"$$$/DOGE","AskPrice":0.35035839,"BidPrice":0.27000002,"Low":0.27000001,"High":0.36120001,"Volume":73864.22111409,"LastPrice":0.27000002,"BuyVolume":408773586456.55508110,"SellVolume":807824.17328273,"Change":-25.25,"Open":0.36120001,"Close":0.27000002,"BaseVolume":24456.72901250,"BuyBaseVolume":61931.09365302,"SellBaseVolume":1671082210.63148522},{"TradePairId":1262,"Label":"$$$/LTC","AskPrice":0.00000744,"BidPrice":0.00000493,"Low":0.00000488,"Hig[...]
