---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 8-53673552-53673576 NNNN CT(79 162 0) RT(1513530042696 279) q(0 0 3 1) r(4
        4) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000010,"Low":0.00000010,"High":0.00000012,"Volume":252204.67866228,"LastPrice":0.00000012,"BuyVolume":18145144.95926620,"SellVolume":19151991.08015154,"Change":20.0,"Open":0.00000010,"Close":0.00000012,"BaseVolume":0.02931281,"BuyBaseVolume":0.34091631,"SellBaseVolume":28951333.17016860},{"TradePairId":1263,"Label":"$$$/DOGE","AskPrice":0.35035839,"BidPrice":0.27000002,"Low":0.27000001,"High":0.35000000,"Volume":34259.51163478,"LastPrice":0.27000002,"BuyVolume":408773586456.55508110,"SellVolume":807824.17328273,"Change":-11.24,"Open":0.30420036,"Close":0.27000002,"BaseVolume":11002.30537976,"BuyBaseVolume":61931.09365302,"SellBaseVolume":1671082210.63148522},{"TradePairId":1262,"Label":"$$$/LTC","AskPrice":0.00000744,"BidPrice":0.00000493,"Low":0.00000489,"Hig[...]
