---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrderGroups/$$$_BTC-DOGE_BTC/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 11-71370568-71370692 NNNN CT(170 170 0) RT(1513710147916 1091) q(0 0 3 -1)
        r(31 31) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Market":"$$$_BTC","Buy":[{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000012,"Volume":77525.16425840,"Total":0.00930302},{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000011,"Volume":261163.21901651,"Total":0.02872795}],"Sell":[{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000013,"Volume":1070.31835742,"Total":0.00013914},{"TradePairId":1261,"Label":"$$$_BTC","Price":0.00000019,"Volume":204930.00503164,"Total":0.03893670}]},{"TradePairId":102,"Market":"DOGE_BTC","Buy":[{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000032,"Volume":13271320.57055452,"Total":4.24682258},{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000031,"Volume":8567802.70278602,"Total":2.65601884}],"Sell":[{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000033,"Volume":6245168.23930626,"Total":2.06090552},{"TradePairId":102,"Label":"DOGE_BTC","Price":0.00000034,"Volume":2187634.09886401,"Total":0.74379559}]}],"Error":null}'
  recorded_at: Tue, 19 Dec 2017 19:02:32 GMT
recorded_with: VCR 4.0.0
