---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketOrderGroups/DOT_BTC-101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-55963783-55963903 NNNN CT(0 0 0) RT(1513710144755 1093) q(0 0 0 -1) r(2
        2) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":100,"Market":"DOT_BTC","Buy":[{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000093,"Volume":568348.00308697,"Total":0.52856364},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000092,"Volume":552270.13934869,"Total":0.50808853},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000091,"Volume":526211.10929311,"Total":0.47885211},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000090,"Volume":930732.74333703,"Total":0.83765947},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000089,"Volume":1804498.10325770,"Total":1.60600331},{"TradePairId":100,"Label":"DOT_BTC","Price":0.00000088,"Volume":1766760.63128204,"[...]
