---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/DOT_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 11-71367288-71367400 NNNN CT(191 191 0) RT(1513710125225 830) q(0 0 4 -1)
        r(8 8) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"TradePairId":100,"Label":"DOT/BTC","AskPrice":0.00000094,"BidPrice":0.00000093,"Low":0.00000092,"High":0.00000096,"Volume":4889846.46265576,"LastPrice":0.00000093,"BuyVolume":50420015.38237966,"SellVolume":76084268.73132023,"Change":-2.11,"Open":0.00000095,"Close":0.00000093,"BaseVolume":4.57130784,"BuyBaseVolume":24.25612502,"SellBaseVolume":511304246.63619406},"Error":null}'
  recorded_at: Tue, 19 Dec 2017 19:02:07 GMT
recorded_with: VCR 4.0.0
