---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/$$$_BTC/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 12-87237659-87237861 NNNN CT(190 190 0) RT(1513710128033 1144) q(0 0 4 -1)
        r(7 7) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000012,"Low":0.00000013,"High":0.00000019,"Volume":722737.64407227,"LastPrice":0.00000013,"BuyVolume":19112381.23884413,"SellVolume":18259772.24586001,"Change":-7.14,"Open":0.00000014,"Close":0.00000013,"BaseVolume":0.11297315,"BuyBaseVolume":0.42804395,"SellBaseVolume":28944872.77743327},"Error":null}'
  recorded_at: Tue, 19 Dec 2017 19:02:10 GMT
recorded_with: VCR 4.0.0
