---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketHistory/$$$_BTC/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 11-71368481-71368683 NNNN CT(0 0 0) RT(1513710133734 1152) q(0 0 0 -1) r(3
        3) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","Type":"Buy","Price":0.00000013,"Amount":3900.00000000,"Total":0.00050700,"Timestamp":1513706097},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Buy","Price":0.00000013,"Amount":5000.00000000,"Total":0.00065000,"Timestamp":1513705984},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Sell","Price":0.00000013,"Amount":1063.75442145,"Total":0.00013829,"Timestamp":1513704880},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Sell","Price":0.00000013,"Amount":6936.24557855,"Total":0.00090171,"Timestamp":1513704783},{"TradePairId":1261,"Label":"$$$/BTC","Type":"Sell","Price":0.00000013,"Amount[...]
