---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarketHistory/DOT_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 9-42973998-42974082 NNNN CT(0 0 0) RT(1513710130937 951) q(0 0 0 -1) r(2 2)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":100,"Label":"DOT/BTC","Type":"Sell","Price":0.00000093,"Amount":2946.04017633,"Total":0.00273982,"Timestamp":1513709309},{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":600.00000000,"Total":0.00056400,"Timestamp":1513708752},{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":73107.84877197,"Total":0.06872138,"Timestamp":1513708197},{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":206169.77474362,"Total":0.19379959,"Timestamp":1513708197},{"TradePairId":100,"Label":"DOT/BTC","Type":"Buy","Price":0.00000094,"Amount":716[...]
