---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-84953723-84953754 NNNN CT(76 75 0) RT(1513523768242 274) q(0 0 1 0) r(4
        4) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000010,"Low":0.00000009,"High":0.00000012,"Volume":460664.60867905,"LastPrice":0.00000012,"BuyVolume":18026045.65786899,"SellVolume":19152018.65949742,"Change":9.09,"Open":0.00000011,"Close":0.00000012,"BaseVolume":0.05012609,"BuyBaseVolume":0.33138836,"SellBaseVolume":28951333.17017219},{"TradePairId":5181,"Label":"1337/BTC","AskPrice":0.00000001,"BidPrice":0.0,"Low":0.00000001,"High":0.00000001,"Volume":0.0,"LastPrice":0.00000001,"BuyVolume":0.0,"SellVolume":979369200.42123304,"Change":0.0,"Open":0.00000001,"Close":0.00000001,"BaseVolume":0.0,"BuyBaseVolume":0.0,"SellBaseVolume":312732794.05478280},{"TradePairId":5313,"Label":"21M/BTC","AskPrice":0.00001660,"BidPrice":0.00001290,"Low":0.00001660,"High":0.00001660,"Volume":31.24698794,"LastPrice":0.00001660,"[...]
