---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets/12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 10-85340215-85340261 NNNN CT(380 303 0) RT(1513526319916 278) q(0 0 7 -1)
        r(281 282) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000010,"Low":0.00000010,"High":0.00000012,"Volume":252204.67866228,"LastPrice":0.00000012,"BuyVolume":18026045.65786899,"SellVolume":19152018.65949742,"Change":20.0,"Open":0.00000010,"Close":0.00000012,"BaseVolume":0.02931281,"BuyBaseVolume":0.33138836,"SellBaseVolume":28951333.17017219},{"TradePairId":1263,"Label":"$$$/DOGE","AskPrice":0.35035839,"BidPrice":0.27000002,"Low":0.27000001,"High":0.35000000,"Volume":30349.81415512,"LastPrice":0.35000000,"BuyVolume":408773586456.55508110,"SellVolume":807824.17328273,"Change":15.06,"Open":0.30420036,"Close":0.35000000,"BaseVolume":9949.42669192,"BuyBaseVolume":61931.09365302,"SellBaseVolume":1671082214.98646388},{"TradePairId":1262,"Label":"$$$/LTC","AskPrice":0.00000744,"BidPrice":0.00000492,"Low":0.00000488,"High"[...]
