---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarkets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 8-53087783-53087809 NNNN CT(75 157 0) RT(1513523766670 272) q(0 0 2 0) r(3
        3) U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":[{"TradePairId":1261,"Label":"$$$/BTC","AskPrice":0.00000013,"BidPrice":0.00000010,"Low":0.00000009,"High":0.00000012,"Volume":460664.60867905,"LastPrice":0.00000012,"BuyVolume":18026045.65786899,"SellVolume":19152018.65949742,"Change":9.09,"Open":0.00000011,"Close":0.00000012,"BaseVolume":0.05012609,"BuyBaseVolume":0.33138836,"SellBaseVolume":28951333.17017219},{"TradePairId":1263,"Label":"$$$/DOGE","AskPrice":0.35035839,"BidPrice":0.27000001,"Low":0.27000001,"High":0.41082046,"Volume":117373.18004884,"LastPrice":0.35000000,"BuyVolume":408773577889.43851070,"SellVolume":807824.17328273,"Change":-14.80,"Open":0.41082046,"Close":0.35000000,"BaseVolume":40645.85214173,"BuyBaseVolume":59617.97200767,"SellBaseVolume":1671082214.98646388},{"TradePairId":1262,"Label":"$$$/LTC","AskPrice":0.00000744,"BidPrice":0.00000492,"Low":0.00000488,"Hi[...]
