---
http_interactions:
- request:
    method: get
    uri: https://www.cryptopia.co.nz/api/GetMarket/DOT_BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Iinfo:
      - 5-44943261-44943275 NNNN CT(0 0 0) RT(1513525700653 280) q(0 0 0 0) r(1 1)
        U2
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Success":true,"Message":null,"Data":{"TradePairId":100,"Label":"DOT/BTC","AskPrice":0.00000095,"BidPrice":0.00000092,"Low":0.00000092,"High":0.00000099,"Volume":5749104.37311047,"LastPrice":0.00000092,"BuyVolume":43396808.84122577,"SellVolume":72799596.30344514,"Change":-3.16,"Open":0.00000095,"Close":0.00000092,"BaseVolume":5.39177332,"BuyBaseVolume":17.79298178,"SellBaseVolume":511304235.73777053},"Error":null}'
  recorded_at: Sun, 17 Dec 2017 15:48:21 GMT
recorded_with: VCR 4.0.0
